body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: #0e091c;
}

a {
  color: #2CA0F7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #fff;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
}

.bg-primary {
  background-color: #0e091c !important;
  z-index: 111;
}

.bg-dark {
  background-color: #212529 !important;
}

p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}

section {
  padding: 8rem 0;
}

@media (max-width: 768px) {
  section {
    padding: 3rem;
  }
}

.section-heading {
  margin-top: 0;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  margin-top: 40px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-eth {
  font-weight: 700;
  text-transform: uppercase;
  color: #0e091c;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

#mainNav .navbar-eth:focus, #mainNav .navbar-eth:hover {
  color: #0e091c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #0e091c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-eth {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-eth:focus, #mainNav .navbar-eth:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background: #212529;
    margin: 0;
  }
  #mainNav.navbar-shrink .navbar-eth {
    color: #0e091c;
  }
  #mainNav.navbar-shrink .navbar-eth:focus, #mainNav.navbar-shrink .navbar-eth:hover {
    color: #0e091c;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #868e96;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #363f47;
  }
}

@media (max-width: 992px) {
  #mainNav {
    margin-top: 0;
  }
}

header.masthead {
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
  color: #fff;
}

header.masthead .home-container {
  margin-top: 28vh !important;
}

header.masthead .header-video {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -111;
  height: auto;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
    line-height: 1.4;
    color: #fff;
  }
}

.speakers-box {
  max-width: 400px;
}

.schedule-box .schedule-day {
  background-color: rgba(54, 63, 71, 0.5);
  margin-left: 8%;
}

.schedule-box .talk-bubble {
  margin-left: 14px;
}

.schedule-box .hack-day p {
  font-size: 1.6rem;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
}

.schedule-box .talk-wrap {
  text-align: center;
  background: #373f47;
  left: 0;
  position: absolute;
  width: 100%;
  display: inline-block;
}

.schedule-box .table-schedule {
  border: none;
  font-size: 1.2em;
  margin: 1rem;
  margin-top: 6rem;
  position: relative;
}

.schedule-box .table-schedule > tbody > tr > td {
  border: none;
}

.schedule-box .table-schedule td:last-of-type {
  border-left: 0;
}

.schedule-box .schedule-time {
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 0.2rem;
  background-repeat: no-repeat;
}

.schedule-box .schedule-time.morning {
  background-image: url(../img/sunset.svg);
}

.schedule-box .schedule-time.noon {
  background-image: url(../img/sun.svg);
}

.schedule-box .schedule-time.evening {
  background-image: url(../img/sunset.svg);
}

.schedule-box .schedule-time.night {
  background-image: url(../img/moon.svg);
}

@media (max-width: 992px) {
  .schedule-box .schedule-day {
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .schedule-box .schedule-time {
    display: none;
  }
  .schedule-box .hack-day p {
    font-size: 1.2rem;
  }
  .schedule-box .table td,
  .schedule-box .table th {
    padding-top: 0.5rem;
    padding-right: 0;
    padding-left: 0;
  }
}

#sponsors-box img {
  vertical-align: text-top;
  width: 60%;
}

#sponsors-box .ethglobal {
  margin-top: 1%;
}

.faq-box h4 {
  text-align: left !important;
}

.card button {
  border: 1px solid #363f47;
}

.card button:focus {
  outline: none;
}

.card-title {
  text-align: left !important;
  color: white;
}

#toggle {
  border: 1px solid #363f47;
  border-radius: 0;
}

.toggle-panel .card-header h4:after {
  font-family: 'FontAwesome';
  content: "\f106";
  float: right;
  color: #363f47;
  font-size: 1.2em;
}

.toggle-panel .card-header.collapsed h4:after {
  content: "\f107";
}

.card-header:hover .arrow:after {
  color: #000;
}

.card-body {
  padding: 0;
}

.panel-text {
  padding: 1.25rem;
}

.footer {
  padding: 0 !important;
  margin-left: 10%;
  margin-right: 10%;
}

.footer .footer-content {
  margin-bottom: 7rem !important;
}

.footer .circle {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: gray;
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-right: 30%;
  margin-bottom: 130px;
}

@media (max-width: 768px) {
  .footer .circle {
    display: none;
  }
}

.footer img {
  width: 3em;
  height: 3em;
  opacity: 1;
  border-radius: 50%;
  z-index: 9999;
}

.footer .ripple {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  border-radius: 50%;
  border: 1px solid gray;
  transform: translate(-50%, -50%);
  animation: ripple 7s linear infinite;
}

@keyframes ripple {
  0% {
    height: 40px;
    width: 40px;
  }
  15% {
    height: 80px;
    width: 80px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 320px;
    width: 320px;
  }
}

.footer .r1 {
  animation-delay: 0s;
}

.footer .r2 {
  animation-delay: 1s;
}

.footer .r3 {
  animation-delay: 2s;
}

.footer .r4 {
  animation-delay: 3s;
}

.footer .r5 {
  animation-delay: 4s;
}

.footer .r6 {
  animation-delay: 5s;
}

.footer .r7 {
  animation-delay: 6s;
}

.footer .r8 {
  animation-delay: 7s;
}

.footer .r9 {
  animation-delay: 8s;
}

.footer .social-icons {
  width: 20px;
  margin-left: 10px;
  height: 20px;
  padding: 0;
  background-repeat: no-repeat;
  vertical-align: bottom;
  display: inline-block;
}

.footer .social-icons:hover {
  opacity: 0.7;
}

.footer .icon-instagram {
  background-image: url(../img/instagram.svg);
}

.footer .icon-facebook {
  background-image: url(../img/facebook.svg);
}

.footer .icon-twitter {
  background-image: url(../img/twitter.svg);
}

.footer .icon-telegram {
  background-image: url(../img/telegram.svg);
  width: 19px;
  height: 18px;
}

.footer .icon-medium {
  background-image: url(../img/medium.svg);
  height: 18px;
}

.footer .icon-slack {
  background-image: url(../img/slack.svg);
}

.footer .icon-linkedin {
  background-image: url(../img/linkedin.svg);
}

.text-primary {
  color: #0e091c !important;
}

h2 {
  font-size: 3rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 16px 56px !important;
  border-radius: 2px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #363f47;
  border-color: #363f47;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #2b3239 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #363f47 !important;
}

.card {
  border: none;
}

@media (max-width: 768px) {
  .card .card-header {
    cursor: pointer;
  }
}

.card-body {
  background: #0e091c;
}

.card-header {
  background: #0e091c;
}

.card-header:hover {
  background: #363f47;
}

.card-header:first-child {
  border-radius: 0;
}

.panel-body {
  background: #0e091c;
  color: #fff;
  font-weight: 300;
  line-height: 1.8rem;
  opacity: 0.5;
}

.navbar-light .navbar-toggler {
  color: #fff;
  background: #fff;
}

.table td,
.table th {
  padding: 1.2rem;
  border-top: 1px solid #dee2e6;
}

td {
  color: #fff;
}
