body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: #0e091c;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #0e091c;
}

hr.light {
  border-color: #fff;
}

a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #0e091c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #fff;
}

.bg-primary {
  background-color: #0e091c !important;
}

.bg-dark {
  background-color: #212529 !important;
}

p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  color: #0774CF;
}

a:hover {
  text-decoration: none;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  margin-top: 40px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-eth {
  font-weight: 700;
  text-transform: uppercase;
  color: #0e091c;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

#mainNav .navbar-eth:focus, #mainNav .navbar-eth:hover {
  color: #0e091c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #0e091c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-eth {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-eth:focus, #mainNav .navbar-eth:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background: #212529;
    margin: 0;
  }
  #mainNav.navbar-shrink .navbar-eth {
    color: #0e091c;
  }
  #mainNav.navbar-shrink .navbar-eth:focus, #mainNav.navbar-shrink .navbar-eth:hover {
    color: #0e091c;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #868e96;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #363f47;
  }
}

header.masthead {
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
  color: #fff;
}

header.masthead .home-container {
  margin-top: 28vh !important;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
    line-height: 1.4;
    color: #fff;
  }
}

.speakers-box {
  max-width: 400px;
}

.faq-box h4 {
  text-align: left !important;
}

.card-title {
  text-align: left !important;
  color: white;
}

#toggle {
  border: 1px solid #363f47;
  border-radius: 0;
}

.toggle-panel .card-header h4:after {
  font-family: 'FontAwesome';
  content: "\f106";
  float: right;
  color: #363f47;
  font-size: 1.2em;
}

.toggle-panel .card-header.collapsed h4:after {
  content: "\f107";
}

.card-header:hover .arrow:after {
  color: #000;
}

.card-body {
  padding: 0;
}

.panel-text {
  padding: 1.25rem;
}

.footer {
  padding: 0 !important;
}

.social-icons {
  color: #fff;
}

.text-primary {
  color: #0e091c !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 16px 56px !important;
  border-radius: 2px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #363f47;
  border-color: #363f47;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #2b3239 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #363f47 !important;
}

.card {
  border: none;
}

.card-body {
  background: #0e091c;
}

.card-header {
  background: #0e091c;
  border-bottom: 1px solid #363f47;
  border-top: 1px solid #363f47;
}

.card-header:hover {
  background: #363f47;
}

.panel-body {
  background: #0e091c;
}

.navbar-light .navbar-toggler {
  color: #fff;
  background: #fff;
}
