.card button {
    border: 1px solid $secondary;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.card-title {
    text-align: left !important;
    color: white;
}

#toggle {
    border: 1px solid $secondary;
    border-radius: 0;
}

.toggle-panel .card-header h5:after {
    font-family: 'FontAwesome';
    content: "\f106";
    float: right;
    color: $secondary;
    font-size: 1em;
}

.toggle-panel .card-header.collapsed h5:after {
    content: "\f107";
}

.card-header {
    height: auto !important;
}

.card-header:hover .arrow:after {
    color: $black;
}

.card-body {
    padding: 0;
}

.panel-text {
    padding: 1rem 2rem 0 2rem;
    text-align: left;
    padding-bottom: 0;
    font-size: 1rem
}

.panel-title, .arrow {
    margin-bottom: 0;
}
