// Styling for the header
header.masthead {
    background-position: center center;
    height: 100%;
    min-height: 100vh;
    @media (max-width: 420px) {
        margin: 0;
    }
    @include background-cover;
    h1 {
        font-size: 2rem;
    }
    p {
        font-weight: 300;
        color: $white;
    }
    @media (min-width: 768px) {
        p {
            font-size: 1rem;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 650px;
        padding-top: 10px;
        padding-bottom: 0;
        h1 {
            font-size: 2.3rem;
        }
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 4rem;
            line-height: 1.4;
            color: $white;
        }
    }
}