// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  margin-top: 40px;
  @include main-font;
  @include transition-all;
  .navbar-eth {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    @include main-font;
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    >li.nav-item {
      >a.nav-link,
      >a.nav-link:focus {
        font-size: 1rem;
        font-weight: 500;
        color: rgba(134, 142, 150, 1.0);
        &:hover {
          color: $white;
        }
        &.active {
          color: $secondary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .navbar-toggler {
    background-color: #111c33;
  }
  @media (max-width: 991px) {
    .navbar-nav {
      margin-top: 16px;
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-eth {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav>li.nav-item>a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav>li.nav-item>a.nav-link,
    .navbar-nav>li.nav-item>a.nav-link:focus {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background: $bg-color;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      margin: 0;
      .navbar-eth {
        color: darken($primary, .1);
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav>li.nav-item>a.nav-link,
      .navbar-nav>li.nav-item>a.nav-link:focus {
        color: $gray-600;
        &:hover {
          color: $white;
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding: 32px 8px 8px 8px;
    margin-top: 0px;
  }
  @media (max-width: 500px) {
    background-color: $bg-color;
    margin-top: -20px;
  }
}