// styling for Schedule section
.schedule-box {
    .schedule-day {
        background-color: $dark-secondary; // margin-left: 4%;
        margin-right: 3%;
    }
    .schedule-details {
        margin-left: 7%;
        display: inherit;
    }
    .talk-bubble {
        margin-left: 14px;
    }
    .hack-day p {
        font-size: 1.4rem;
        float: left;
        margin-left: 50px;
        margin-top: 20px;
        font-weight: 700;
        line-height: 1.7rem;
    }
    .talk-wrap {
        text-align: center;
        background: #373f47;
        left: 0;
        position: absolute;
        width: 100%;
        display: inline-block;
    }
    .table-schedule {
        border: none;
        font-size: 1.2em;
        margin: 1rem;
        margin-top: 6rem;
        position: relative;
    }
    b,
    strong {
        font-weight: 300;
    }
    .table-schedule>tbody>tr>td {
        border: none;
    }
    .table-schedule td:last-of-type {
        border-left: 0;
        color: $white;
        opacity: 0.5;
    }
    .schedule-time {
        width: 1em;
        height: 1em;
        position: absolute;
        margin-top: 0.2rem;
        background-repeat: no-repeat;
    }
    .schedule-time.morning {
        background-image: url(../img/sunset.svg);
    }
    .schedule-time.noon {
        background-image: url(../img/sun.svg);
    }
    .schedule-time.evening {
        background-image: url(../img/sunset.svg);
    }
    .schedule-time.night {
        background-image: url(../img/moon.svg);
    }
    @media (max-width: 992px) {
        .schedule-day {
            margin-left: 0;
        }
    }
    @media (max-width: 420px) {
        .schedule-time {
            display: none;
        }
        .schedule-details {
            margin-left: 0;
            display: block;
        }
        .talk-wrap {
            top: -4.3rem;
        }
        .hack-day p {
            font-size: 1.2rem;
            margin-left: 2.2rem;
        }
        .table td,
        .table th {
            padding-top: 0.5rem;
            padding-right: 0;
            padding-left: 0;
        }
    }
}