// styling for Schedule section
.schedule-box {
    td {
        color: $white;
    }
    .schedule-day {
        background-color: $dark-secondary;
        margin-left: 8%;
    }
    .talk-bubble {
        margin-left: 14px;
    }
    .talk-wrap {
        text-align: center;
        background: #373f47;
        position: relative;
        width: 107%;
        display: inline-block;
        margin-left: -4%;
    }
    .table-schedule {
        border: none;
        font-size: 1.2em
    }
    .table-schedule>tbody>tr>td {
        border: none
    }
    .table-schedule td:first-of-type {
        border-left: 2px solid #ccc
    }
    .table-schedule td:last-of-type {
        border-left: 0
    }
    .schedule-time {
        width: 1em;
        height: 1em;
        background: #f3a700;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        left: 2px
    }
    .schedule-time.morning {
        background: #f59b00
    }
    .schedule-time.noon {
        background: #f5cc00
    }
    .schedule-time.evening {
        background: #f5a300
    }
    .schedule-time.night {
        background: #000
    }
    .schedule-time.night:before {
        content: '';
        width: calc(1em - 8px);
        height: calc(1em - 8px);
        background: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%
    }
}