// Styling for Sponsors section

#sponsors-box {
  .ethglobal {
    margin-top: 0.4%;
  }
  .sponsors-logo img {
    max-width: 240px;
    max-height: 80px;
    min-height: 64px;
  }

  #web3img {
    max-width: 168px;
  }
}
