// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$secondary: #00a7d3 !default;
$primary: #203260 !default;
$dark-secondary: rgba(0, 167, 211, 0.1) !default;
$link: #2ca0f7 !default;
$font-size-base: 18px !default;
$bg-color: #111c33;
$yellow: #cf9f07;
